.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: rgb(37, 37, 228);
}

.navbar h1{
    color: white;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding-left: 50px;
    font-size: 20px;
}

.github_icon{
    padding-right: 10px;
}

.user{
    background-color: white;
    text-align: center;
    box-shadow: 0px 10px 50px #3a3a3a25;
    width: 300px;
    border-radius: 5px;
    padding: 60px 20px; 
    margin: 10px;
}

.user img{
    width: 120px;
    border-radius: 100%;
}

.user h1{
    font-size: 22px;
}

.user .user_btn{
    background-color: rgb(37, 37, 228);
    color: white;
}

.user .user_btn:hover{
    background-color: rgb(36, 36, 173);
}

.Home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}